body {
  margin: 0;
  font-family: Inter, Arial;
  background: #f4f6f8;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background: #111827;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: #d1d5db;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background: #1f2937;
}

.main {
  margin-left: 250px;
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}
